.header
{
	/*background-color:burlywood;*/
	
}
h1
{
	margin-bottom:3%;
	margin-top:0;
	padding-top:1%;
	text-transform:uppercase;
	text-align:center;
	color:black;
	font-family: 'Merienda', cursive;
	font-size:20px;
	letter-spacing:6px;
}

.search-box
{
	 text-align:center;
}
input[type="text"]
{
   
	margin-bottom:6%;
	width:70%;
	line-height:3em;
	border: none;
    border-color: transparent;
	border-radius:20px;
	padding-left: 20px ;
	padding-right:20px;
	font-family: 'Farsan', cursive;
	letter-spacing:2px;
	font-size:15px;
	border: 2px solid #ccc;
	

}
input[placeholder]
{
	font-family: 'Farsan', cursive;
	letter-spacing:2px;
	font-size:15px;
	text-align:left;

	
}


input[type="text"]:focus
{
	outline:none;
	   
    border: 3px solid lightslategrey;
    background-color: lightslategrey;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.container
{
	margin:auto;
	
}
.grid-container
{
	width:90%;
	display:grid;
	grid-template-columns: 1fr;
	margin:auto;
	
}
.photo
{
	width:100%;
}
p
{
	text-align:center;
	font-size:20px;
	cursor:pointer;
	/*border:2px black solid;*/
	margin-top:0;
	font-family: 'Farsan', cursive;
	letter-spacing:2px;
	
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* ----------------------------- MEDIA QUERIES 768 PIXELS ---*/
@media screen and (min-width: 768px) {
.grid-container
{
display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:20px;
}

input[type="text"]
{
	width:50%;
}

}


/* ----------------------------- MEDIA QUERIES 1024 PIXELS ---*/
@media screen and (min-width: 1024px) {
.grid-container
{
display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap:20px;
}


}
